*{
    background-image: url(/favicon/jonatan-pie-3l3RwQdHRHg-unsplash.jpg);
    margin: 20px;
}

.para{
    text-align: center;
    font-size: large;
    color: white;
    text-shadow: 5px 5px 8px yellow;
}
div{
    text-align: center;
    background-color: antiquewhite;
    color: whitesmoke;
    border: 5px solid tomato;
    padding: 10px;
    box-shadow: 5px 5px 8px purple;
    text-shadow: 4px 4px 7px  purple;
}
.chand{
    text-align: center;
    background-color: purple;
    color: aliceblue;
    padding: 10px;
    border: 5px double black;
    box-shadow: 5px 5px 8px purple;
}


.center{
    margin-left: auto;
    margin-right: auto;
    display: block;
    box-shadow: 5px 10px 15px 20px purple;
    border: 5px purple;
}